<div class="container">
  <div class="a">
    <div class="example">
      <p>ようこそMotomottoへ</p>	
      <div class="b"><%= image_tag "bike1.jpg", class: "c" %></div>
    </div>
    <div class="example">
      <p>ここはあなたのバイクや</p>
      <div class="b"><%= image_tag "bike2.jpg", class: "c" %><</div>
    </div>
    <div class="example">
      <p>おすすめスポットを広める場所</p>	
      <div class="b"><%= image_tag "bike3.jpg", class: "c" %><</div>
    </div>
  </div>
  <div class="e text-center">
  <h3>さあ　はじめましょう</h3>
  <p>
  <%= link_to  "ログイン", new_user_session_path, class: "btn btn-primary" %>
  <%= link_to  "新規登録", new_user_registration_path, class: "btn btn-secondary" %>
  </p>
  </div>
</div>
